.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    margin-top: 0px;
    /*display:flex;*/
    text-align: center;
    color: black;
    background-color:  white;
    header: balance;
    
    
    
    
}

#notloggedin {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 200px;
    display:flex;
    

}

.JobsCard {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    margin-top: 0px;
    display:flex;
    text-align: center;
    color: green;
    border-style: none;
    
    

}

.JobCard {

    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    margin-top: 0px;
    /*display:flex;*/
    text-align: right;
    color: black;
    background-color: black;
    header: balance;
    

}


.card-body{

    width:"50%";
}

.navbar-brand{
    font-size: 22px;

}

.btn2{
    background-color: #3e66c0;
    color: white;
    width: 15%;
}

.navbar{
 border-radius: 1px;
}

.ExpandedJobCard {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    margin-top: 0px;
    /*display:flex;*/
    text-align: center;
    color: black;
    background-color:  white;
    header: balance;
    
    
    
    
}
.stretched-link {
    color:black;
    text-decoration: none; 
   background-color: none;
}

.job-title-text{
    font-size: 22px;
    font-weight: 500;
    color:black;

}

.jobscard-text{

    font-size: 15px;

}

.card-subtitle{

    font-size: 17px;
}

.brand-text{

    font-size: 30px;

}
.border-secondary{
    background-color: brown;
}
.body1{
    width: 50%;

}